server:
  port: 8080
  servlet:
    context-path: /api
    session:
      cookie:
        domain: localhost
        http-only: false
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/super?serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  redis:
    host: localhost
    port: 6379
  jackson:
    time-zone: GMT+8
    date-format: java.text.SimpleDateFormat
  mail:
    host: host
    username: username
    password: password
  session:
    store-type: redis
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: on
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
      logic-delete-field: isDelete
      id-type: auto
knife4j:
  enable: true
  openapi:
    title: super接口文档
    description: "用户匹配系统"
    email: linzhehao1108@126.com
    version: v2.0.0
    concat: OchiaMalu
    group:
      super:
        group-name: super
        api-rule: package
        api-rule-resources:
          - net.zjitc
super:
  img: /img/
  job: "0 0 0 * * ? *"