server:
  port: 8080
  servlet:
    context-path: /api
    session:
      cookie:
        domain: localhost
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/super?serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  redis:
    host: 47.115.230.95
    port: 6379
  session:
    store-type: redis
  jackson:
    time-zone: GMT+8
    date-format: java.text.SimpleDateFormat
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: on
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
      logic-delete-field: isDelete
knife4j:
  enable: true
  openapi:
    title: super接口文档
    email: linzhehao1108@126.com
    version: v1.0
    terms-of-service-url: https://stackoverflow.com/
    group:
      test1:
        group-name: test
        api-rule: package
        api-rule-resources:
          - net.zjitc